button {

    background: #fcfcfc;
    border: 1px solid #ececec;
    border-right-width: 0;
    padding: 1rem;

    cursor: pointer;
}
button:first-of-type {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
button:last-of-type {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right-width: 1px;
}