<button (click)="onButtonClicked(-10)">-10</button>
<button (click)="onButtonClicked(-1)">-1</button>
<button (click)="onButtonClicked(0)">0</button>
<button (click)="onButtonClicked(1)">+1</button>
<button (click)="onButtonClicked(10)">+10</button>