h1 {
    font-size: 5rem;

    padding: 3rem;
    border: 1px solid #ececec;
    border-radius: 1rem;
    background: #fcfcfc;
    width: fit-content;

}

.odd {
    background: orangered;
}

.even {
    background: seagreen;
}

.zero {
    background: steelblue;
}