<div class="app-wrapper">
  <app-counter-display [counter]="counter"></app-counter-display>
  <app-buttons (buttonClick)="updateCounter($event)"></app-buttons>
  <app-history-display [history]="history"></app-history-display>
</div>